nav ul{
    display : flex;
    padding: 20px;
    text-align: center;
   
    
}

nav ul li a{
   padding-right : 20px;
   font-family: cursive;
   text-decoration: none;
    margin: 30px;
    font-style: bold;;
   
   
}

header {
    background-color: black;
     border-radius: 25px;
     display: block;
}


#oceans_vid{
    width : 100vw;
    height : auto;
    border-radius: 10px;
    object-fit: cover;
}


.video-container {
  width: 100vw;
  height: 50vh;        /* control height of the box instead */
  
  overflow: hidden;    /* hides excess video if needed */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: -10;
}
#snow{
    width : auto;
    height: auto;
    align-items: center;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 15px;
}
h1{
    margin-top: 50px;
    font-family: cursive;
    color : black;
    font-size: 70px;
    width:max-content;
    text-align: center;
    background-color: beige;
    display:inline-block;
    padding:12px 28px;
    text-align: center;
    justify-content: center;
    margin:24px auto;
    border-radius: 30px;
    border-bottom: 5px solid black;
}
h1::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 120px;        /* adjust to desired size */
    height: 120px;
    margin-right: 10px;
    background-image: url("snowboard toony image.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.side-view{
    width : 100vw;
    height : auto;
    display: flex;
    margin : 0;
    gap : 20px;
    justify-content: center;
    overflow: auto;
    background-color: beige;
}
.side-view img{
    width : 30%;
    height : 300px;
    border-radius: 10px;
    object-fit: cover;

}

/* styling for the scrollabe images on the whats new page */
div.side-view:nth-child(4){
    border-radius: 30px;
    background-color: white;
}
div.side-view:nth-child(5){
    border-radius: 30px;
    background-color: white;
}